<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>index.jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 어떤 그룹의? 보안적용 그룹지정 -->
  <security-role>
  	<role-name>manager</role-name>
  </security-role>
  
  <!-- 검사대상 지정 : 어떤 URL을 검사할것인지 -->
  <!--  누구를?  -->
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>GDU</web-resource-name>
  		<url-pattern>/10_3</url-pattern>
  		<http-method>GET</http-method>
  	</web-resource-collection>
  	<!-- 어느 그룹에게 권한을 줄 것인지 -->
  	<auth-constraint>
  		<description></description>
  		<role-name>manager</role-name>
  	</auth-constraint>
  </security-constraint>
    
  <!--  누구인지 검사방법지정 -->
  <login-config>
  	<auth-method>FORM</auth-method>
  	<form-login-config>
  		<form-login-page>/chapter10/Exam10_3.jsp</form-login-page>
  		<form-error-page>/chapter10/Exam10_3_failed.jsp</form-error-page>
  	</form-login-config>
  </login-config>
  <error-page>
  	<error-code>500</error-code>
  	<location>/chapter11/500.jsp</location>
  </error-page>
  <error-page>
  	<error-code>404</error-code>
  	<location>/chapter11/404.jsp</location>
  </error-page>
  <error-page>
  	<exception-type>java.lang.Exception</exception-type>
  	<location>/chapter11//exception_type.jsp</location>
  </error-page>

  <filter>
  	<filter-name>Exam12_1</filter-name>
  	<filter-class>chapter012.Exam012_1_sub</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>Exam12_1</filter-name>
  	<url-pattern>/12_1ser</url-pattern>
  </filter-mapping>

  <filter>
  	<filter-name>Filter02</filter-name>
  	<filter-class>chapter012.Exam012_2_fil</filter-class>
  	<init-param>
  		<param-name>param1</param-name>
  		<param-value>admin</param-value>
  	</init-param>
  	<init-param>
  		<param-name>param2</param-name>
  		<param-value>1234</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>Filter02</filter-name>
  	<url-pattern>/12_2_S</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>Filter03</filter-name>
  	<filter-class>chapter012.Exam012_3_fil</filter-class>
  	<init-param>
  		<param-name>filename</param-name>
  		<param-value>c:\\logs\\monitor.log</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>Filter03</filter-name>
  	<url-pattern>/12_2_S</url-pattern>
  </filter-mapping>
</web-app>